<a href="https://colab.research.google.com/github/PoojaPoo18/Data-Science-/blob/main/Pooja_K_Python_Session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**# Day - 1**

Data types

In [ ]:
# Integer
# Pre-defined functions

type(1)

int

In [ ]:
# do this 
#write the value 12.4 and tell me the output
type(12.4)

float

In [ ]:
type('string')

str

In [ ]:
type("string")

str

In [ ]:
# To - do 
type('2')

str

In [ ]:
type(1j + 2)

complex

In [ ]:
#List
type([1,2,3,4,4,5,6])

list

In [ ]:
# TO do
# Make a list and tuple mentioning each data type

In [ ]:
type(['pooja'])

list

In [ ]:
type(['12.6'])

list

In [ ]:
# Tuple
type((1,2,34,5,6))

tuple

In [ ]:
type((34.6,12.4,3.6,3.9))

tuple

In [ ]:
type(('poo','teju','vicky'))

tuple

In [ ]:
#Dictionary
Expression - {key:value, key1:value1}

In [ ]:
{'Name':'Raju', 'Roll_no': 234, 'Age':26, 'Address':'fwkjgfiygku'}

{'Address': 'fwkjgfiygku', 'Age': 26, 'Name': 'Raju', 'Roll_no': 234}

In [ ]:
type({'Name':'Raju', 'Roll_no': 234, 'Age':26, 'Address':'fwkjgfiygku'})

dict

In [ ]:
#Make a dictionary adding your Name and your basic details
type({'name':'Pooja K', 'age':22, 'education':'MCA', 'height':5.1, 'hobby':'Dance'})

dict

In [ ]:
#Print function
print("Hello my name is Pooja")

Hello my name is Pooja

In [ ]:
print(1)

1

In [ ]:
# To do 
# You have to print the type of the data and store it.
# MVP should be realistic rather than idealistic. It should be conservative rather than ambitious. If all else fails, knowing that you achieve your MVP is a huge accomplishment.

In [ ]:
str1 = 'MVP should be realistic rather than idealistic. It should be conservative rather than ambitious. If all else fails, knowing that you achieve your MVP is a huge accomplishment.'
print(str1)

MVP should be realistic rather than idealistic. It should be conservative rather than ambitious. If all else fails, knowing that you achieve your MVP is a huge accomplishment.

In [ ]:
type(str1)

str

In [ ]:
# Variables and identifiers
str1 = 'Hello my name is Prachi Tare and I will be the mentor to this session'

In [ ]:
str1

'Hello my name is Prachi Tare and I will be the mentor to this session'

In [ ]:
@abc = 12

SyntaxError: ignored

In [ ]:
12abe = 12

SyntaxError: ignored

In [ ]:
abe caj = 12

SyntaxError: ignored

### Data operators -

In [ ]:
34 * 65

2210

In [ ]:
a = 35
b = 65

# Multiplication
*
# subtraction
-
# Floor division 
//
# Division 
/
# Addition
+

# Exponention
a**b

#store into a variable and print the variable

23143171985618148385244286678913597734970588950324139906433544566777271711544017307460308074951171875

In [ ]:
#Addition
a=35
b=25
a+b

60

In [ ]:
a = 12
b = 2
c = 38
addition = a+b+c
print(addition)

52

In [ ]:
#multiplication
x=4
y=3
z=9
mul = x*y*z
print(mul)

108

In [ ]:
#division
a=100
b=20
a/b

5.0

In [ ]:
#floor division
a=100
b=20
a//b

5

In [ ]:
#subtraction
a=3
b=5
c=9
sub = a-b-c
print(sub)

-11

In [ ]:
#multiplication
a=45
b=6
a+b

51

In [ ]:
#assignment operator
x = 14

In [ ]:
x+=2
print(x)

16

In [ ]:
x=11
x*=2
print(x)

22

1. AND
2. OR
3. NOT

In [ ]:
#And operator
20==12 and 2<1

False

In [ ]:
20==20 and 6>1

True

In [ ]:
#OR operator
20==20

True

### #day 2

What are sequences in Python 

Squences are containers with items that are accessible by the indexing or string.

1. Concatenation
2. Repetation.
3. Membership Testing
4. Slicing
5. Indexing

In [ ]:
#Manipulation of list 

# TO Do 
# You have to make your own list ( all the items are integers)
manp = [2,3,4,56,7,8,9,0,66,5,4,5,6,7,8,99,4,3,4,6,7]

In [ ]:
#Append 
manp.append(10)
print(manp)

[2, 3, 4, 56, 7, 8, 9, 0, 66, 5, 4, 5, 6, 7, 8, 99, 4, 3, 4, 6, 7, 10]

In [ ]:
#Insert
manp.insert(1,1)
print(manp)

[2, 1, 3, 4, 56, 7, 8, 9, 0, 66, 5, 4, 5, 6, 7, 8, 99, 4, 3, 4, 6, 7, 10]

In [ ]:
# minimum 
min(manp)

0

In [ ]:
# maximum
max(manp)

99

In [ ]:
# Count function
manp.count(3)

2

In [ ]:
#popup function
a=manp.pop(5)
print(manp)
print(a)

[2, 1, 3, 4, 56, 9, 0, 66, 5, 4, 5, 6, 7, 8, 99, 4, 3, 4, 6, 7, 10]
8

In [ ]:
# Insert 
ins = [4,5,6,2,8]
ins.insert(4,12)
print(ins)

[4, 5, 6, 2, 12, 8]

In [ ]:
# to -do 
#You have to insert 37 in 8th index and 2 in 12th index and 5 in 1000 index
In = [2,3,4,5,3,4,5,6,7,9]
#inserting 37 in 8th index
In.insert(8,37)
#inserting 2 in 12th index
In.insert(12,2)
print(In)

[2, 3, 4, 5, 3, 4, 5, 6, 37, 7, 9, 2]

In [ ]:
# Extend Function 
ex1 = [1,2,3,4,5,6,7]
ex2 = [4,8,9,10,34]
ex1.extend(ex2)
ex2.extend(ex1)
print("Extended list afer adding ex2",ex1)
print("Extended list afer adding ex1",ex2)

Extended list afer adding ex2 [1, 2, 3, 4, 5, 6, 7, 4, 8, 9, 10, 34]
Extended list afer adding ex1 [4, 8, 9, 10, 34, 1, 2, 3, 4, 5, 6, 7, 4, 8, 9, 10, 34]

In [ ]:
# Sum

print(sum(ex2))

158

In [ ]:
# Indexing

In = [6,7,8,9,2,3,4,1]
In.index(3)

5

In [ ]:
In[3]

9

In [ ]:
In[3:8]

[9, 2, 3, 4, 1]

In [ ]:
min(In)

1

In [ ]:
dc = [3.4,3.6,.3,6.2,2.5,2.45,2.6,.74,4.78,345.7,4.6]

min(dc)

0.3

In [ ]:
# max

print('mac of dc is',max(dc))

mac of dc is 345.7

In [ ]:
pop1 = [1,2,3,4,5,6,7,8,9]

pop1.pop(4)
print(pop1)
print(a)

[1, 2, 3, 4, 6, 7, 8, 9]
5

In [ ]:
pop1.pop()

9

In [ ]:
print(sum(ex2))

269

In [ ]:
delete

[2, 3, 5]

In [ ]:
# Remove 
remove1 = [2.3,4,3,8,17]
b = remove1.remove(4)
print(remove1)
print(b)

[2.3, 3, 8, 17]
None

In [ ]:
#To Do
#Write a swapping function where a == c, b ==a, c = b 
a = 12
b = 3
c = 45
temp = a
a = c
c = b
b = temp
print(a)
print(b)
print(c)

45
12
3

In [ ]:
x = 23
y = 9
"""
temp = x
x = y
y = temp
print(x)
print(y)
"""
x,y = y,x
print(x)
print(y)

9
23

In [ ]:
name = 'dlitHe Institute'
course = 'Python certification'

In [ ]:
name.capitalize()

'Dlithe institute'

In [ ]:
name.count("i")

2

In [ ]:
name.find("u")

13

In [ ]:
name.isalpha()

False

In [ ]:
name.islower()

False

In [ ]:
name.isupper()

False

In [ ]:
name.lower()

'dlithe institute'

In [ ]:
name.upper()

'DLITHE INSTITUTE'

In [ ]:
name.strip()

'dlitHe Institute'

In [ ]:
a = "Python is a programming language"
a.split("is")

['Python ', ' a programming language']

In [ ]:
b = "Python"
c = "language"

b + " "+ c

'Python language'

In [ ]:
a*3

'Python is a programming languagePython is a programming languagePython is a programming language'

In [ ]:
str1 = 'Hello to the kingdom'

In [ ]:
len(str1)

20

In [ ]:
str1[3]

'l'

In [ ]:
str1[9:12]

'the'

In [ ]:
str1.replace('the','a')

'Hello to a kingdom'

### Tuple

In [ ]:
this1 = (('burger','pizza','french fries','wedges'))

In [ ]:
this1[1]

'pizza'

In [ ]:
this1[1:3]

('pizza', 'french fries')

In [ ]:
tuple1 = (('mango','grapes'))
tuple3 = tuple1+this1
print(tuple3)

('mango', 'grapes', 'burger', 'pizza', 'french fries', 'wedges')

In [ ]:
#dictionary
dict1 = {"name":"pooja","age":22, "education":"MCA"}

In [ ]:
#deleting
del dict1["name"]

In [ ]:
print(dict1)

{'age': 22, 'education': 'MCA'}

In [ ]:
#adding
dict1 ["number"] = 1234

In [ ]:
dict1 ["name"] = "pooja"

In [ ]:
print(dict1)

{'age': 22, 'education': 'MCA', 'number': 1234, 'name': 'pooja'}

In [ ]:
#pop
dict1.pop("age")

22

In [ ]:
print(dict1)

{'education': 'MCA', 'number': 1234, 'name': 'pooja'}

In [ ]:
#constructor
temp = dict(Brand="apple",model=11)

In [ ]:
temp = {"year":2000}

In [ ]:
cp=dict(temp)
print(cp)

{'year': 2000}

In [ ]:
#to-do
#Create a tuple ('Hello','World') 
tup = tuple(("hello","world"))
print(tup)

('hello', 'world')

In [ ]:
tu1 = tuple("hello")  
tu2 = tuple("world")
tu3 = tu1 + tu2
print(tu3)

('h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd')

In [ ]:
TU = tuple("Hello",) *3
print(TU)

('H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o')

In [ ]:
# Tuple unpacking

tuple4 = ("hello",'Good','People')
a,b,c = tuple4
print(a)
print(b)
print(c)

hello
Good
People

In [ ]:
if condition:
  Statement 1 
  stat2

stat3

else :
  stat4

In [ ]:
i = 5
if(i<25):
  print("i is less than 25")

print('I am not in if block')

i is less than 25
I am not in if block

In [ ]:
string = 'Parade'

if string == 'Parade':
  print('hello')
    string = string*3
    print(string)


 # To - do 
 # Specify what it is doing
 # Also mention and clear errors

In [ ]:
string = 'Parade'

if string == 'Parade':
  print('hello')
string = string*3
print(string)


 # To - do 
 # Specify what it is doing
 # Also mention and clear errors

hello
ParadeParadeParade

#What it is doing
The above code contains 'IF' condition where it has string variable and the word 'Parade' is stored in it. 
First, we are checking the condition whether the word "Parade" is in Variable string or not.
If the condition is true then it prints "hello" or else it jumps and executes the next statement where it prints the word "Parade" 3 times.

#Also mention and clear errors
Here we can find "Indentation error"

In [ ]:
i = 20 
if (i<15):
  print("i is smaller than 15")
  print("I am in if block")

else:
  print("i is greater or equal to 15")
  print("i am in else block ")

i is greater or equal to 15
i am in else block

In [ ]:
# Nested if-else
# add all the comments
i = 4
if (i == 40):
  if(i<=15):
    print("i is smaller than 15")

  if(i<12):
    print("i is smaller than 12 too")

  else:
    print('i is greater than 15')

else:
  print('i is not 40')

i is not 40

In [ ]:
i = 20
if  i < 10: print('i is less than 10')

## For Loop

In [ ]:
for var in iterable:
  #statement

In [ ]:
L = [1,2,3,4,5,6,7]
for var in L:
  print(var)

1
2
3
4
5
6
7

In [ ]:
l = ['tomato','potato','carrot','banana']
for i in l:
  print(i)

tomato
potato
carrot
banana

In [ ]:
l = ['tomato','onion','brinjal', 'banana']

for i in l:
  for j in i:
    print(j)
# To-do
# I have to replace banana with a mushroom and store it in a new list

t
o
m
a
t
o
o
n
i
o
n
b
r
i
n
j
a
l

In [ ]:
#Replace banana with a mushroom and store it in a new list
l = ["tomato","onion","brinjal","banana"]
for i in range(len(l)):
  #replace banana with mushroom
  if l[i] == 'banana':
    l[i] = 'mushroom'
print(l)

['tomato', 'onion', 'brinjal', 'mushroom']

In [ ]:
s = list(input())

123456

In [ ]:
print(s)
# to do 
# come is improvization

['1', '2', '3', '4', '5', '6']

In [ ]:
print(type(s))

<class 'list'>

In [ ]:
s = str(input())

for i in s:
  print(i)

world
w
o
r
l
d

In [ ]:
d = dict()
d['a'] = 123
d['b'] = 514

for i in d:
  print(i,d[i])

a 123
b 514

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'r':
    break
  print(letter)

w
h

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'r':
    pass
  print(letter)

w
h
e
n
a
r
e
y
o
u
o
l
d

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'r':
    continue
  print(letter)

w
h
n
a
y
o
u
o
l
d

In [ ]:
list(range(1,10,1)) #list(range(starting point, ending point, iteration))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
l = [10,20,30,40]

for i in range(len(l)):
  print(l[i], end = " ")

10 20 30 40

In [ ]:
# To-do

# perform the sum of first 10 natural numbers
num = int(input("enter a number:"))
if num<0:
  print("enter positive integer")
else:
  sum = 0
  while(num>0):
    sum+=num
    num-=1
    print("the sum is",sum)

enter a number:10
the sum is 10
the sum is 19
the sum is 27
the sum is 34
the sum is 40
the sum is 45
the sum is 49
the sum is 52
the sum is 54
the sum is 55

In [ ]:
while expression:
  statement(s)

In [ ]:
count = 0
while ( count< 3):
  count+= 3
  print('hello')

hello

In [ ]:
a = [1,2,3,4]

while a:
  print(a.pop())

4
3
2
1

In [ ]:
i = 0
a = 'helloworld'

while i<len(a):
  if a[i] == 'e':
    i+=1
    continue
  print('current letter',a[i])
  i +=1

current letter h
current letter l
current letter l
current letter o
current letter w
current letter o
current letter r
current letter l
current letter d

In [ ]:
i = 0
a = 'helloworld'

while i<len(a):
  if a[i] == 'e':
    i+=1
    pass
  print('current letter',a[i])
  i +=1

current letter h
current letter l
current letter l
current letter o
current letter w
current letter o
current letter r
current letter l
current letter d

In [ ]:
i = 0
a = 'helloworld'

while i<len(a):
  if a[i] == 'e':
    i+=1
    break
  print('current letter',a[i])
  i +=1

current letter h

In [ ]:
questions = ['name','color','shape']
answers = ['apple','red','a circle']
for question, answer in zip(questions,answers):
  print('What is your {0}? I am {1}.'.format(question,answer))

What is yourname? I am apple.
What is yourcolor? I am red.
What is yourshape? I am a circle.

In [ ]:
print(a)
sum(a)

[12, 34, 56]

102

In [ ]:
def sum(x):
  for i in x:
    summ = summ + i
    return summ

sum(a)

In [ ]:
Function:
  statement

In [ ]:
def eo(x):
  if (x%2 == 0):
    print('even')
  else:
    print('odd')

In [ ]:
eo()

even

In [ ]:
def square_value(num):
  return num**2
  print(num)

print(square_value(2))

4

In [ ]:
list1 = [1,2,6,3,6.4,35.2,'ab',3.5,6,'world',3,4.6,3.3,'city',6,3,2,6,34]
# To - do
# find the sum of the list and remove string data type

In [ ]:
Lambda Functions - 
lambda arguments : Expression

In [ ]:
x = lambda z: z + 5
print(x(25))

30

In [ ]:
def db(n):
  return lambda x:x*n

num_double = db(3)
print(num_double(13))

39

In [ ]:
print('08','03','2022', sep = '/')

08/03/2022

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [ ]:
# Importing the library

import pandas as pd
import numpy as np

In [ ]:
data = [1,2,3,4,45,6,7,'m']
d = pd.Series(data)
df = pd.DataFrame(d)
print(df)

    0
0   1
1   2
2   3
3   4
4  45
5   6
6   7
7   m

In [ ]:
s = pd.Series([1,2,3,np.nan,8,9])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
4    8.0
5    9.0
dtype: float64

In [ ]:
d = pd.date_range('20220310', periods = 10)
print(d)

DatetimeIndex(['2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20220310'),
                   'C':pd.Series(1,index = list(range(4))),
                   'D': np.array([5]*4, dtype = 'int32'),
                   'E': pd.Categorical(['test','train','train','test'])})

In [ ]:
df

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.dtypes

A             int64
B    datetime64[ns]
C             int64
D             int32
E          category
dtype: object

In [ ]:
df.head()

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.head(2)

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train

In [ ]:
df.tail()

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.tail(2)

   A          B  C  D      E
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.to_numpy()

array([[1, Timestamp('2022-03-10 00:00:00'), 1, 5, 'test'],
       [2, Timestamp('2022-03-10 00:00:00'), 1, 5, 'train'],
       [3, Timestamp('2022-03-10 00:00:00'), 1, 5, 'train'],
       [4, Timestamp('2022-03-10 00:00:00'), 1, 5, 'test']], dtype=object)

In [ ]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [ ]:
df.describe()

              A    C    D
count  4.000000  4.0  4.0
mean   2.500000  1.0  5.0
std    1.290994  0.0  0.0
min    1.000000  1.0  5.0
25%    1.750000  1.0  5.0
50%    2.500000  1.0  5.0
75%    3.250000  1.0  5.0
max    4.000000  1.0  5.0

In [ ]:
df.sort_index(axis = 1, ascending = False)

       E  D  C          B  A
0   test  5  1 2022-03-10  1
1  train  5  1 2022-03-10  2
2  train  5  1 2022-03-10  3
3   test  5  1 2022-03-10  4

In [ ]:
df.sort_values(by = 'A')

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df['C']

0    1
1    1
2    1
3    1
Name: C, dtype: int64

In [ ]:
df[0:3]

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train

In [ ]:

df.loc[d[0]]

A                      2
B    2022-03-10 00:00:00
C                      1
D                      5
E                  train
Name: 1, dtype: object

In [ ]:
#From label
df.loc[:,['A','C']]

   A  C
0  1  1
1  2  1
2  3  1
3  4  1

In [ ]:
# From Position 

df.iloc[3]

A                      4
B    2022-03-10 00:00:00
C                      1
D                      5
E                   test
Name: 3, dtype: object

In [ ]:
df.iloc[0:2,3:5]

   D      E
0  5   test
1  5  train

In [ ]:
df[df['A'] >2]

   A          B  C  D      E
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
isnull()
dropna()
fillna()
isna(na)

In [ ]:
df.mean()

In [ ]:
df = pd.Series([1,2,3,np.nan,4,5]).shift(2)

In [ ]:
df

0    NaN
1    NaN
2    1.0
3    2.0
4    3.0
5    NaN
dtype: float64

In [ ]:
df.apply(np.cumsum)

0    [nan]
1    [nan]
2    [1.0]
3    [2.0]
4    [3.0]
5    [nan]
dtype: object

In [ ]:
df.value_counts()

1.0    1
2.0    1
3.0    1
dtype: int64

In [ ]:
s = pd.Series(['education','Jupyther','Python',np.nan])

In [ ]:
s.str.upper()

0    EDUCATION
1     JUPYTHER
2       PYTHON
3          NaN
dtype: object

In [ ]:
s.str.lower()

0    education
1     jupyther
2       python
3          NaN
dtype: object